.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid #07afb8;
  color: black;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary input.visited {
  outline: 2px solid #07afb8;
}

.Dictionary input:focus {
  outline: 2px solid #07afb8;
}
