.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 0;
  box-shadow: 5px 5px 5px rgba(110, 109, 109, 0.1);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: black;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary input.visited {
  outline: 2px solid black;
}

.Dictionary input:focus {
  outline: 2px solid black;
}
