body {
  margin: 40px 0;
  font-family: monospace;
  background-image: url(bookbackground2.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (max-width: 900px) {
  body {
    background-image: none;
  }
}
